* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

header {

  overflow-x: hidden;
}
#header-nav {
background-color: darkred;

border: 0;
border-radius: 0;
padding-left: 10px;
}
.container-fluid {
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-fluid > .navbar-header > .navbar-brand {
  font-size: 35px;
  color: black;
  padding-top: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}
#nav-list a {
  font-size: 20px;
  color: Yellow;
}
#nav-list a:hover {
  font-size: 20px;
  color: black;
}
 .navbar-toggle {
  background-color: yellow;
  color: black;
}
.navbar-toggle:hover {
 background-color: white;
 color: black;
}

h1 {
  margin: 50px;
  font-size: 175%;
  text-align: center;
}
.boxes {
  margin-left: 35px;
}
p {
/*reset page layout */
 padding-right: 10px; padding-left: 10px;
 font-size: 18px;
}

h2 {
  font-size: 125%;
}

#border {
  border: black 1px solid;
  background-color: #EEEEEE;
}

.box1 > div {

  font-size: 20px;
  margin-bottom: 10px;
}
.box2 > div {

  font-size: 20px;
  margin-bottom: 10px;
}
.box3 > div {
  font-size: 20px;
  margin-bottom: 10px;
}

/* desktop layout

@media (min-width: 992px) {
  .box1, .box2, .box3 {
    width: 30%;
    float: left;
    margin: 5px;
    }
    .boxes {

    }
}


/* tablet layout */
@media (min-width: 768px) and (max-width:991px) {
boxes .box1, .box2 {


    }
boxes .box3 {

  }
 boxes .box1, boxes .box2, boxes .box3 {

  }

}

/*mobile layout
@media (max-width:767px) {
  .box1, .box2, .box3 {
    float: none;
    margin-right: 30px;
    margin-top: 20px;
  }
}
